/.venv/Lib/site-packages/__pycache__
/.venv/Lib/site-packages/accelerate/__pycache__
/.venv/Lib/site-packages/accelerate/commands/__pycache__
/.venv/Lib/site-packages/accelerate/commands/config/__pycache__
/.venv/Lib/site-packages
/Диаграммы. 2 часть
/Диаграммы/Диаграммы
