version: "3.9"
services:
  app:
    build: .
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: ["gpu"]
    environment:
      - MODEL_NAME=Qwen/Qwen2-VL-7B-Instruct
      - ENABLE_BNB_INT4=1
    ports:
      - "8000:8000"
      - "7860:7860"
